body {
    font-size: 10px;
    background: #FFFAF8;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

h2{
    font-size: 3rem;
}

input,
select,
textarea {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    cursor: pointer;
    text-decoration: none
}

// body,
// html {
//     height: 100%
// }

// body {
//     overflow-x: auto;
//     overflow-y: scroll
// }

// body.overflowHidden {
//     overflow: hidden
// }

// .testStyles {
//     overflow-y: hidden
// }

